.layout {
  display: flex;
}

.page {
  flex: 1;
  font-size: 20px;
  font-weight: 800;
  font-family: var(--font-family);
  padding: 0rem 3rem;
}

.page > p {
  font-size: 30px;
  font-weight: 1000;
  text-transform: uppercase;
  text-align: center;

  margin: 2rem;
}

.page p {
  color: var(--color-text);
}