.headerUser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-main);
}

.headerUser-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.headerUser-links_logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-right: 4px solid var(--color-bg);
}

.headerUser-links_logo img {
  width: 200px;
  height: 100px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.headerUser-title {
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
}

.headerUser-user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-transform: capitalize;
  margin-right: 1rem;

  font-style: italic;
}

.headerUser-title p,
.headerUser-user p {
  color: var(--color-whiteText);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;

  margin: 0 1rem;
  cursor: pointer;
}
