.footer {
  background-color: var(--color-main);
  border-top: 4px solid var(--color-white);
  padding: 1rem;
}

.footer p, ul, li {
  font-family: var(--font-family);
  color: var(--color-whiteText);
  font-size: 2rem;
}