.settingDrug {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 0rem 3rem;

  background-color: var(--color-bg);
}

.settingDrug > p {
  font-size: 40px;
  font-weight: 1000;
  text-transform: uppercase;

  margin: 2rem;
}

.settingDrug p {
  color: var(--color-text);
}

.settingDrug__selection {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 90%;
  justify-content: space-between;
}
.selection__delete {
  margin-left: auto;
  margin-bottom: 0.5rem;
}

.settingDrug-table {
  margin: 2rem 0;
  width: 90%;

  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.settingDrug-table_section p {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.selection-confirm {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
