.navbar {
  background: var(--color-main);
  border-right: 4px solid var(--color-bg);
  
  width: 15%;
  height: 100vh;
  position: sticky;
  top: 82.8px;
}

/* .navbar-section {
  position:relative;
  top: 82.8px;
} */
