.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem;
  border-right: 4px solid var(--color-bg);
  border-bottom: 1px solid var(--color-bg);
  
  width: 15%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  width: 50px;
  margin-right: 1rem;

  background-color: var(--color-white);
  border-radius: 0.5rem;
}

.logo svg {
  height: 80%;
  /* width: 80%; */
  fill: var(--color-main);
}

p {
  font-family: var(--font-family);
  color: var(--color-whiteText);
  font-size: 30px;
  font-weight: 1000;
}
