* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

.section__padding,
.section__margin {
  padding: 4rem 6rem;
  margin: 4rem 6rem;
}

.form-container {
  display: stretch;
  flex-direction: row;
  background-color: var(--color-main);
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 450px;
  margin-left: 450px;
  text-align: center;
}


.page-name-container {
  margin: 1rem;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  text-align: center;
}

.page-name-container h2 {
  color: var(--color-bg);
  font-family: var(--font-family);
  font-weight: 1000;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 121.5%;
}

.input-container {
  display: flex;
  align-items: left;
  justify-content: left;
  margin-bottom: 10px;
  width: 80%;
  margin: 0 auto;
}

label {
  color: var(--color-bg);
  font-family: var(--font-family);
  font-size: 25px;
  line-height: 121.5%;
  margin-left: 30px;
}

input {
  margin-top: 3px;
  padding: 8px;
  margin-left: 30px;
  font-size: 25px;
  width: 100%;
  max-width: 750px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  outline: none;
  margin-bottom: 3rem;
}

.logo img {
  width: 450px;
  height: 225px;
}

input:focus {
  border-color: var(--color-main);
}

.form-container button {
  color: var(--color-bg);
  background-color: var(--color-action-button);
  font-family: 'Comfortaa', sans-serif;
  border: none;
  border-radius: 10px;
  font-style: bold;
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  margin: 20px;
  padding: 20px;
  border: 2px;
  width: 300px;
}

.signin-nav {
  color: var(--color-bg);
  font-family: 'Comfortaa', sans-serif;
  font-size: 20px;
  padding-bottom: 30px;
}

@media screen and (max-width: 700px) {
  .section__padding,
  .section__margin {
    padding: 4rem;
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding,
  .section__margin {
    padding: 4rem 2rem;
    margin: 4rem 2rem;
  }
}