.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  min-width: 60vw;
  min-height: 60vh;
  max-height: 80vh;
  background: var(--color-bg);
  color: var(--color-text);
  z-index: 10;
  border-radius: 1rem;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 10%;
  background: var(--color-main);
  overflow: hidden;
  border-radius: 1rem 1rem 0 0;
  padding: 1rem;
}

.heading {
  margin-left: 1.5rem;
  color: var(--color-whiteText);
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 1.5rem;
}

.modal-close_button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 2rem;
  height: 2rem;
  cursor: pointer;

  border: unset;
  border-radius: 0.5rem;
  padding: unset;
  /* margin-right: 1rem; */

  color: var(--color-main);
  background-color: var(--color-white);

  font-size: large;
}

.modal-close_button:hover {
  background-color: var(--color-main);
  color: var(--color-white);
  border: 5px solid var(--color-white);
}

.modal-content {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 2rem;
  font-weight: 1000;
  overflow: auto;
  padding: 3rem;
}

.modal-content_container {
  display: flex;
  justify-content: center;
}

.modal-actions_container {
  display: flex;
  justify-content: space-evenly;
}

/* .action,
.action_2 {
  font-weight: 1000;
  font-size: 1.5rem;
  font-family: var(--font-family);
  cursor: pointer;

  margin: 1rem;
  padding: 1rem;

  border-radius: 1rem;
  border: 4px solid var(--color-main);
  background: var(--color-main);
  color: var(--color-whiteText);
}

.action:hover,
.action_2:hover {
  color: var(--color-main);
  border: 4px solid var(--color-main);
  background: var(--color-bg);
} */
