.menu {
    display: flex;
    font-family: var(--font-family);
  }
  
  .medicalReportCreate {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 0rem 3rem;
  
    background-color: var(--color-bg);
  }
  
  .medicalReportCreate > p {
    font-size: 40px;
    font-weight: 1000;
    text-transform: uppercase;
  
    margin: 2rem;
  }
  
  .medicalReportCreate p {
    color: var(--color-text);
  }
  
  .medicalReportCreate__selection {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 90%;
    justify-content: space-between;
  }
  
  .medicalReportCreate__selection-form {
    width: 70%;
  }
  
  label[for="calender"],
  label[for="userID"],
  label[for="symptom"],
  label[for="diagnose"] {
    display: flex;
    align-items: center;
  
    color: var(--color-text);
    font-family: var(--font-family);
    margin: 0.5rem;
  }
  
  input[type="date"],
  input[type="text"] {
    padding: 1rem;
    width: auto;
    margin: auto;
    margin-left: 1rem;
  
    font-family: inherit;
    font-size: 1.5rem;
    color: var(--color-text);
    background-color: var(--color-white);
    border-color: var(--color-border);
    border-radius: 1rem;
  }
  
  .selection__delete {
      margin-bottom: 0.5rem;
  }
  
  .medicalReport-table {
    margin: 2rem 0;
    width: 90%;
  }
  
  .selection-confirm {
    width: 30%;
    display: flex;
    justify-content: space-between;
  }