:root {
  --label-width-size: 30%;
}

/* PAGE */
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page_form,
.page_table,
.page_action {
  width: 90%;
  margin: 1rem 0;
}

/* -PAGE FORM- */
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form > p {
  font-size: 1.5rem;
  margin: 0.5rem;
}

label {
  display: flex;
  align-items: center;

  margin: 0.5rem;
}

label p {
  width: var(--label-width-size);
}

input,
textarea {
  padding: 1rem;
  width: auto;
  margin: auto;
  margin-left: 1rem;

  font-family: inherit;
  background-color: var(--color-white);
  border-color: var(--color-border);
  border-radius: 1rem;
}

textarea {
  width: calc(90% - var(--label-width-size));
}

label[for="description"] {
  display: flex;
  align-items: flex-start;
}

label[for="description"] p {
  padding-top: 0.5rem;
}

.page_form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  color: var(--color-whiteText);
  background-color: var(--color-main);

  width: 60vw;
  height: 100vh;
  border-radius: 1rem;

  font-size: 2rem;
  text-align: center;
}

.page_form-title {
  margin: 2rem;
  text-transform: uppercase;
}

/* -PAGE LINK- */
.page_link {
  margin: 1rem;
}

.page_link p {
  text-decoration: underline;
}

.page_link:hover p {
  color: var(--color-button-red);
}

/* -PAGE TABLE- */
.page_table-action {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  justify-content: flex-end;
}

/* -PAGE ACTION- */
.page_action {
  display: flex;
  justify-content: space-evenly;
}

/* -PAGE HOMEPAGE- */
.page-homepage_intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page-homepage_left {
  width: 60%;
  margin-left: 3rem;
}

.page-homepage_text h2 {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 1000;
}

.page-homepage_text .page_action {
  display: flex;
  justify-content: flex-start;
}

.page-homepage_image {
  /* position:absolute; */
  width: 441px;
  height: 446px;
  right: 0;
}