.button {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 1rem;
  border-radius: 0.5rem;

  text-transform: uppercase;
}

.button p {
  font-size: 1rem;
}

.button-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 1rem;
}