.receiptCreate__selection {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 90%;
  justify-content: space-between;
}

.receiptCreate__selection-form {
  width: 70%;
}

label[for="calender"],
label[for="userID"],
label[for="symptom"],
label[for="diagnose"],
.receipt-table p {
  display: flex;
  align-items: center;

  color: var(--color-text);
  font-family: var(--font-family);
  margin: 0.5rem;
  font-size: 1.5rem;
}

input[type="date"],
input[type="text"] {
  padding: 1rem;
  width: auto;
  margin: auto;
  margin-left: 1rem;

  font-family: inherit;
  font-size: 1.5rem;
  color: var(--color-text);
  background-color: var(--color-white);
  border-color: var(--color-border);
  border-radius: 1rem;
}

.selection__delete {
  margin-bottom: 0.5rem;
}

.receipt-table {
  margin: 2rem 0;
  width: 90%;
}

.selection-confirm {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
