@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;

  --color-bg: #D5E4E6;
  --color-main: #299fa5;
  --color-sub-navbar: #005963;
  --color-border: #99bdc1;
  --color-text: #0f494e;
  --color-whiteText: #ffffff;
  --color-button-red: #f85e5e;
  --color-button-yellow: #f3bb2d;
  --color-button-green: #35c867;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey: #aaaaaa;
}
