@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;

  --color-bg: #f2f2f2;
  --color-main: #3FC1C9;
  --color-sub-navbar: #3FC1C9;
  --color-border: #99bdc1;
  --color-text: #000000;
  --color-subtext: #99bdc1;
  --color-whiteText: #ffffff;
  --color-action-button: #f5cf6d;
  --color-cancel-button: #f85e5e;
  --color-accept-button: #35c867;
}
