.menu {
  display: flex;
  font-family: var(--font-family);
}

.appointmentCreate {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 0rem 3rem;

  background-color: var(--color-bg);
}

.appointmentCreate > p {
  font-size: 40px;
  font-weight: 1000;
  text-transform: uppercase;
  
  margin: 2rem;
}

.appointmentCreate p {
  color: var(--color-text);
}

.appointmentCreate__selection,
.selection__delete {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.appointmentCreate__selection {
  width: 90%;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label[for="calender"],
label[for="time"],
label[for="userID"],
label[for="description"] {
  display: flex;
  align-items: center;

  color: var(--color-text);
  font-family: var(--font-family);
  margin: 0.5rem;
}

:root{
  --label-width-size: 30%;
}

label p {
  font-size: 1.5rem;
  width: var(--label-width-size);
}

input[id="calender"],
input[id="time"],
input[id="userID"],
textarea[id="description"]{
  padding: 1rem;
  width: auto;
  margin: auto;
  margin-left: 1rem;
  
  font-family: inherit;
  font-size: 1.5rem;
  color: var(--color-text);
  background-color: var(--color-white);
  border-color: var(--color-border);
  border-radius: 1rem;
  width: 300px;
}

label[for="description"] {
  display: flex;
  align-items: flex-start;
}

label[for="description"] p {
  padding-top: 0.5rem;
}

textarea[id="description"] {
  width: calc(90% - var(--label-width-size));
}