.menu {
  display: flex;
  font-family: var(--font-family);
}

.appointmentView {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 0rem 3rem;

  background-color: var(--color-bg);
}

.appointmentView > p {
  font-size: 40px;
  font-weight: 1000;
  text-transform: uppercase;
  
  margin: 2rem;
}

.appointmentView p {
  color: var(--color-text);
}

.appointmentView__selection,
.selection__delete {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.appointmentView__selection {
  width: 90%;
  justify-content: space-between;
}

label[for="calender"] {
  color: var(--color-text);
  font-family: var(--font-family);
  margin: auto;
}

input[type="date"]{
  padding: 1rem;
  width: auto;
  margin: auto;
  margin-left: 1rem;
  
  font-family: inherit;
  color: var(--color-text);
  background-color: var(--color-white);
  border-color: var(--color-border);
  border-radius: 1rem;
  text-transform: uppercase;
}

.appointment-table {
  margin: 2rem 0;
  width: 90%;
}