.header {
  display: flex ;
  justify-content: space-between;
  align-items: center;
  background: var(--color-main);  

}

.header-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-links_logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-right: 4px solid var(--color-bg);
}

.header-links_logo img {
  width: 300px;
  height: 150px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header-links_container {
  margin-left: 5rem;
  display: flex;
  flex-direction: row;
}

.header-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3rem;
}

.header-links_container p {
  color: var(--color-whiteText);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 25px;
  text-transform: capitalize;
  padding-right: 2rem;;
  border-right: 4px solid var(--color-bg);
  margin: 0 1rem;
  cursor: pointer;
}

.header-sign p {
  color: var(--color-whiteText);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 25px;
  text-transform: capitalize;
  padding-left: 2rem;;
  border-left: 4px solid var(--color-bg);
  margin: 0 1rem;
  cursor: pointer;
}
