.menu {
  display: flex;
  flex-direction: row;
  font-family: var(--font-family);
}

.appointmentView {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background: var(--color-bg);
}

.appointmentView__selection,
.appointmentView__selection-date,
.selection__delete {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selection__delete {
  color: var(--color-whiteText);
  background-color: var(--color-button-cancel);
  border: none;
  border-radius: 10px;
}

.selection__delete-logo,
.selection__delete p {
  padding: 1rem;
}

.selection__appointmentCreate {
  color: var(--color-text);
  background-color: var(--color-button-action);
  border: none;
  border-radius: 10px;

  padding: 1rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 1rem;
  border-radius: 10px;

  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--color-whiteText);
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

.dropdown-content p {
  color: var(--color-text);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--color-whiteText);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
